@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* @font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Black.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-ExtraLight.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Thin.ttf");
}



@font-face {
  font-family: "Gilroy";
  src: url("../assets//fonts//gilroy/Gilroy-Black.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Thin.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-UltraLight.ttf");
} */
